.black-bg-white-text, .black-bg-white-text a {
  background-color: #222;
  color: white;
  text-decoration: none;
}

.black-bg-white-text a:hover, .black-bg-white-text a:focus {
  color: white;
}

header, footer {
  text-align: center;
}

header {
  margin: 35px 0;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}

form a.cancel-button {
  margin-left: 10px;
}

form h3.form-title {
  margin-bottom: 25px;
}

.margin__top-bottom-30px {
  margin: 30px 0;
}

.list-group-link {
  color: black;
}

.list-group-link:link, .list-group-link:visited, .list-group-link:hover, .list-group-link:active {
  text-decoration: none;
}

.list-group-item {
  min-height: 50px;
}

.list-group-item.list-title {
  font-weight: bold;
  background-color: #444;
  color: white;
}

.list-group-item:not(.list-title):hover, .list-group-item:not(.list-title):focus {
  background-color: #d3d3d3;
  color: black;
  cursor: pointer;
}
