<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Your Stories
                </div>
                <div class="panel panel-body" ng-repeat="each story in stories | reverse">
                    <p>{{ each.content }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>